body {
    background-image: url(images/99px_ru_wallpaper_285231_zimnij_pejzaj_komputernaja_igra_the_elder_scrolls_v.jpg);
}

#a1 {
    color: red;
    font-size: 85px;
}

h1 {
    color: rgba(156, 21, 21, 0.5);
}

div {
    color: aqua;
}

#moya_sylka {
    color: blue;
}

#pf {
    font-size: 20px;
    color: blueviolet;
}

a {
    font-size: 80px;
}

.x {
    color: blue;
}

.y {
    color: brown;
}

.lion {
    color: blue;
}

.monkey {
    color: black;
}

.fish {
    color: aqua;
}

.massage {
    background-color: red;
    border: 8px solid rgb(43, 29, 29);
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    padding: 20px;
}

.success {
    color: black;
    background-color: white;
}

.failed {
    color: black;
}

.info {
    background-color: chartreuse;
    color: blueviolet;
}

.warning {
    background-color: darkgreen;
    color: darkkhaki;
}

.massage:hover {
    border: 20px solid rgb(43, 29, 29);
}

#t {
    transition: 1s all;
    background-color: green;
    color: rgb(175, 106, 16);
    padding: 10px;
    margin: 10px;
    border: 5px solid red;
    border-radius: 6px;
    opacity: 0.5;
    box-shadow: 3px 3px 7px black;
    width: 70%;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 900;

}

#t:hover {
    transform: rotate(45deg) scale(0.3);
    background-color: blueviolet;
}